# WK01

## Getting started with Python syntax

### Notebooks

Are nice.

We can add [Markdown](https://www.markdownguide.org/) code in the `markdonwn` cells to style our text descriptions.

In [ ]:
x = 1024 * 768
print(x)

In [ ]:
a = 123 # a是整数
print(a)
a = 'ABC' # a变为字符串
print(a)

In [ ]:
a = 'ABC'
b = a
a = 'XYZ'
print(b)

In [ ]:
n = 123
f = 456.789
s1 = 'Hello, world'
s2 = 'Hello, \'Adam\''
s3 = r'Hello, "Bart"'
s4 = r'''Hello,Bob!'''

print(n)
print(f)
print(s1)
print(s2)
print(s3)
print(s4)

In [ ]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'Ruby', 'PHP'],
    ['Adam', 'Bart', 'Bob']
]

# 打印Apple:
print(L[0][0])
# 打印Python:
print(L[1][1])
# 打印Bob:
print(L[2][2])

In [ ]:
x = "hello"
print(x)

In [ ]:
age = 3
if age >= 18:
    print('adult')
elif age >= 6:
    print('teenager')
else:
    print('kid')

In [ ]:
s = input('birth: ')
birth = int(s)
if birth < 2000:
    print('00前')
else:
    print('00后')

小明身高1.75，体重80.5kg。请根据BMI公式（体重除以身高的平方）帮小明计算他的BMI指数，并根据BMI指数：
低于18.5：过轻
18.5-25：正常
25-28：过重
28-32：肥胖
高于32：严重肥胖
#TODO 用if-elif判断并打印结果：

In [37]:
height = 1.75
weight = 80.5
bmi = weight/(height*height)
print(bmi)

if bmi<18.5:
    print('过轻')
elif bmi<=25:
    print('正常')
elif bmi<=28:
    print('过重')
elif bmi<=32:
    print('肥胖')
elif bmi > 32:
    print('严重肥胖')

26.285714285714285
过重

### if / else

JavaScript / C++:

```js
const n = 8;

if (n > 10) {
  print("n is greater than 10");
} else if (n > 5) {
  print("n is between 5 and 10");
} else {
  print("n is 5 or less");
}
```

Python:

In [ ]:
n = 8

if n > 10:
  print("n is greater than 10")
elif n > 5:
  print("n is between 5 and 10")
else:
  print("n is 5 or less")

### iterate with counter

JavaScript / C++:

```js
for (let c = 0; c < 10; c++) {
  print(c);
}

for (let c = 10; c < 50; c+=5) {
  print(c);
}
```

Python:

In [3]:
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
sum = 0
for x in range(101):
    sum = sum + x
print(sum)

5050

In [1]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

In [2]:
for c in range(10, 50, 5):
  print(c)

10
15
20
25
30
35
40
45

### Print all numbers between $100$ and $200$ that end in $3$

In [5]:
# TODO: Print numbers between 100 and 200 that end in 3
for c in range(103, 200, 10):
  print(c)

103
113
123
133
143
153
163
173
183
193

### iterate over array/list

([Recamán's sequence](https://oeis.org/A005132))

JavaScript / C++:

```js
const array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ];

for (const i of array) {
  print(i);
}
```

Python:

In [6]:
array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ]

for i in array:
  print(i)

0
1
3
6
2
7
13
20
12
21
11
22

### iterate over object

JavaScript / C++:

```js
const obj = {
  name: "thiago",
  id: "tgh8114"
};

for (const [key, val] of Object.entries(obj)) {
  print(key, ":", val);
}
```

Python:

In [ ]:
obj = {
  "name": "thiago",
  "id": "tgh8114"
}

for key, val in obj.items():
  print(key, ":", val)

### iterate over list of objects

JavaScript / C++:

```js
const objs = [{
  name: "thiago",
  id: "tgh8114"
},
{
  name: "lex",
  id: "lgl2222"
}];

for (const obj of objs) {
  for (const [key, val] of Object.entries(obj)) {
    print(key, ":", val);
  }
}
```

Python:

In [ ]:
objs = [{
  "name": "thiago",
  "id": "tgh8114"
},
{
  "name": "lex",
  "id": "lgl2222"
}]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)

Or:

In [ ]:
for k, v in [(key, val) for obj in objs for key, val in obj.items()]:
  print(k, ":", v)

## 🤔 😫

That last expression is very confusing. We'll break it down and explain it soon.

### "list comprehension": create a list from another list

([Catalan numbers](https://oeis.org/A000108))

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = [];

for (const i of array) {
  squared.push(i * i);
}

for (const i of squared) {
  print(i);
}
```

Python:

In [ ]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
squared = []

# TODO: build the array of squared values
for e in array:
  squared.append(e * e)

for i in squared:
  print(i)

To print from both arrays at the same time:

In [ ]:
for idx,i in enumerate(squared):
  print(array[idx], "->", i)

print("\nor\n")
for i,ii in zip(array, squared):
  print(i, "->", ii)

### "list comprehension": create a list from another list

([Catalan numbers](https://oeis.org/A000108))

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = array.map(i => i * i);

for (const i of squared) {
  print(i);
}
```

Python:

In [ ]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
squared = [ i * i for i in array ]

for i in squared:
  print(i)

### List Comprehensions

<img src="./imgs/list-comp-00.jpg" height="150px"/>

### "list comprehension": create a list from parts of another list

([Catalan numbers](https://oeis.org/A000108))

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = [];

for (const i of array) {
  if (i % 2 == 1) {
    odds.push(i);
  }
}

for (const i of odds) {
  print(i);
}
```

Python with for loop:

In [7]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = []

for i in array:
  if i % 2 == 1:
    odds.append(i)

for i in odds:
  print(i)

1
1
5
429

Python with comprehension:

In [ ]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = [ i for i in array if i % 2 == 1 ]

for i in odds:
  print(i)

### List Comprehensions + predicate = Filtering

<img src="./imgs/list-comp-01.jpg" height="150px"/>

### Filtering: create a list from parts of another list

([Catalan numbers](https://oeis.org/A000108))

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = array.filter(i => i % 2 == 1);

for (const i of odds) {
  print(i);
}
```

### Use comprehension to create a list of values between 100 and 500 that are divisible by 3 and 7

JavaScript : && , || , !
Python : and, or, not

In [ ]:
# TODO: Create a list of values between 100 and 500 that are divisible by 3 and 7
div_3_7_list = []

for e in range(100,500):
  if ((e % 3 == 0) and (e % 7 == 0)):
    div_3_7_list.append(e)

print(div_3_7_list)

### More complex comprehensions:

In [ ]:
objs = [
  {
    "name": "thiago",
    "id": "tgh8114",
    "grade": "A"
  },
  {
    "name": "lex",
    "id": "lgl2222",
    "grade": "A+"
  },
  {
    "name": "flex",
    "id": "flx1234",
    "grade": "B"
  }
]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)

请利用循环依次对list中的每个名字打印出Hello, xxx!：

In [17]:
names = ['Bart', 'Lisa', 'Adam']
for name in names:
    print(f"Hello, {name}!")

Hello, Bart!
Hello, Lisa!
Hello, Adam!

### Flattening: produces single list

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for obj in objs for key, val in obj.items()
```

```python
# 2.
[(key, val) for obj in objs for key, val in obj.items()]
```

In [ ]:
[(key, val) for obj in objs for key, val in obj.items()]

### Non-Flattening: maintains original structure

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for key, val in obj.items() for obj in objs
```

```python
# 2.
[[for key,val in obj.items()] for obj in objs]
```

```python
# 3.
[[(key, val) for key,val in obj.items()] for obj in objs]
```

In [ ]:
[[(key, val) for key,val in obj.items()] for obj in objs]

Result is a bit repetitive...

What if instead we want something like a csv file or spreadsheet?

```python
[
  ["key", "key", "key"],
  ["val0", "val0", "val0"],
  ["val1", "val1", "val1"],
  ...
]
```

In [ ]:
# TODO: Create list of lists, where first list is a list of key names
# and remaining lists have just their values

# get list of keys from first element of list
all_keys = []
for k in objs[0].keys():
  all_keys.append(k)

# get list of list of values
all_values = []
for o in objs:
  mvals = []
  for v in o.values():
    mvals.append(v)
  all_values.append(mvals)

csv = [all_keys] + all_values
print(csv)

### Or, with comprehensions:

In [ ]:
# TODO: Create list of lists, where first list is a list of key names
# and remaining lists have just their values

# get list of keys from first element of list
all_keys = [k for k in objs[0].keys()]

# get list of list of values
all_values = [[v for v in o.values()] for o in objs]

csv = [all_keys] + all_values
print(csv)

### Combining lists and objects

In Python we can combine multiple lists or objects by using the `+` or `|` operators.

In [ ]:
x = [1,2,3,4]
y = [5,6,7,8]

z = x + y
print(z)

In [ ]:
name = {"name": "thiago"}
grade = {"grade": "A"}
zipcode = {"zip": 11211}

z = name | grade | zipcode
print(z)